@import '../../../styles/variables.scss';

.auth-page {
  display: flex;
  min-height: 100vh;

  .auth-left,
  .auth-right {
    width: 50%;
    padding: 2rem;
  }

  .auth-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    padding: 0 10%;

    .auth-logo {
      display: flex;
      justify-content: center;
      font-size: 3rem;
      font-weight: 600;
      margin-bottom: 30px;
      span{
        font-size: 3rem;
        color: $Roxo-Royal ;
      }
    }

    .tabs-switch {
      display: flex;
      justify-content: center;
      background-color: #f2f2f2;
      border-radius: 16px;
      padding: 4px;
      width: fit-content;
      margin: 0 auto 1.6rem auto;
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.05);

      a {
        padding: 0.6rem 1.6rem;
        border-radius: 12px;
        text-decoration: none;
        color: #555;
        font-weight: 500;
        font-size: 1rem;
        transition: all 0.25s ease;
      }

      a.active {
        background-color: white;
        color: black;
        font-weight: 600;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
      }
    }


    .submit-btn {
      width: 100%;
      padding: 0.75rem;
      background: #0057ff;
      color: white;
      border: none;
      border-radius: 8px;
      margin-top: 1rem;
    }

    .social-login {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;

      button {
        border: none;
        background: #f2f2f2;
        border-radius: 50%;
        padding: 0.75rem;
      }
    }

    .separator {
      text-align: center;
      margin-top: 1rem;
    }
  }

  .auth-right {
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../../../public/ServiceFlow_Services.png');
    text-align: center;

    img {
      width: 200px;
      margin-bottom: 1rem;
    }

    h2 {
      font-size: 28px;
      margin-bottom: 0.5rem;
    }

    p {
      max-width: 300px;
    }
  }
}
