@import '../../../styles/variables.scss';

.services-container {
   background-color: $Roxo-light;
   padding: 8% 10rem 4% ;
}


 @media (max-width: 1000px) {
   .services-container {
         padding: 15% 1.5rem 4% ;

   }
   
} 

