<div class="filters">
  <label for="filter-select">Ordenar por:</label>
  <select
    id="filter-select"
    [(ngModel)]="selectedFilter"
    (change)="applyFilter()"
  >
    <option value="highestRating">Maior Avaliação</option>
    <option value="lowestRating">Menor Avaliação</option>
    <option value="mostServices">Mais Serviços</option>
    <option value="leastServices">Menos Serviços</option>
  </select>
</div>

<h1 class="businesses-counter">
  {{ filterBusinessType ? filterBusinessType : "Services" }} ({{
    getTotalBusinesses()
  }})
</h1>

<ng-container *ngIf="loading; else loadedContent">
  <div>A carregar...</div>
</ng-container>

<ng-template #loadedContent>
  <div *ngIf="!businessCards?.length; else showCards">
    Nenhum negócio encontrado.
  </div>
</ng-template>

<ng-template #showCards>
  <div *ngFor="let item of getPaginatedBusinesses()" class="Business-card">
    <div class="business-card-right">
      <img
        [src]="
          item.business.main_photo_url ??
          'https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png'
        "
        alt="Imagem do negócio {{
          item.business.business_name || 'Nome não disponível'
        }}"
        class="business-card-image"
        loading="lazy"
      />
    </div>

    <div class="business-card-left">
      <div class="business-card-header">
        <div class="business-card-title-separation">
          <h2 class="business-card-title">
            {{ item.business.business_name || "Nome não disponível" }}
          </h2>

          <div class="business-card-rating" aria-label="Avaliação do negócio">
            <span class="business-card-rating-value">
              <div class="stars">
                <ng-container
                  *ngFor="let star of [0, 1, 2, 3, 4]; let index = index"
                >
                  <div
                    class="star"
                    [ngStyle]="getStarStyle(item.rating.average_rating, index)"
                  ></div>
                </ng-container>
              </div>
            </span>
            <span class="business-card-rating-count">
              ({{ item.rating.total_reviews }})
            </span>
          </div>
        </div>

        <div class="business-card-description">
          <p>{{ item.business.description ?? "Sem descrição disponível." }}</p>
        </div>
      </div>

      <div
        class="business-card-services"
        *ngIf="item.services && item.services.length > 0; else noServices"
      >
        <div
          *ngFor="let service of item.services | slice : 0 : 3"
          class="business-card-service"
        >
          <div class="business-service-header">
            <h2>{{ service.service_name }}</h2>
            <p>{{ service.description }}</p>
          </div>

          <div class="business-service-price-hours-button">
            <div class="business-service-price-hours-container">
              <div>
                <img
                  src="assets/icons/clock.svg"
                  alt="Ícone de relógio"
                  class="business-card-service-icon"
                />
                <span class="business-card-service-text"
                  >{{ service.duration }} min</span
                >
              </div>
              <span class="business-card-service-text"
                >{{ service.price | number : "1.2-2" }} €</span
              >
            </div>

            <button
              type="button"
              [attr.aria-label]="'Marcar serviço ' + service.service_name"
            >
              Marcar
            </button>
          </div>
        </div>
      </div>

      <ng-template #noServices>
        <p>Sem serviços disponíveis.</p>
      </ng-template>
    </div>
  </div>
</ng-template>

<div class="pagination">
  <a
    *ngFor="let page of getPages()"
    (click)="goToPage(page)"
    [class.active]="page === currentPage"
    class="pagination-link"
  >
    {{ page }}
  </a>
  <a
    (click)="nextPage()"
    [class.disabled]="currentPage === Math.ceil(businessCards.length / itemsPerPage)"
    class="pagination-link"
  >
    →
  </a>
</div>
