<nav>
  <div class="right-nav">
    <img routerLink="/" src="ServiceFlow_Logo.png" alt="ServiceFlow Logo" class="nav-logo" />
    <ul>
      <li><a routerLink="/agenda">Agenda</a></li>
      <li><a routerLink="/businesses">Serviços</a></li>
    </ul>
  </div>

  <div class="left-nav" *ngIf="!user">
    <button class="Entrar" routerLink="/auth">Entrar</button>
    <button class="SignUp" routerLink="/business/create">Registar Negócio</button>
  </div>

  <div class="left-nav user-info" *ngIf="user">
    <span>Olá, {{ user.username }}</span>

    <ng-container *ngIf="user?.fotoUrl; else defaultIcon">
      <img
        [src]="user.fotoUrl"
        alt="Foto de perfil"
        class="profile-img"
        tabindex="0"
        (click)="toggleDropdown()"
        (keydown.enter)="toggleDropdown()"
      />
    </ng-container>

    <ng-template #defaultIcon>
      <div
        class="foto-Placeholder"
        tabindex="0"
        (click)="toggleDropdown()"
        (keydown.enter)="toggleDropdown()"
      >
        <img src="assets/icons/profile.svg" alt="profile SVG">
      </div>
    </ng-template>

    <ul class="dropdown-menu" [class.open]="dropdownOpen">
      <li><a routerLink="/user/account" (click)="dropdownOpen = false">Perfil</a></li>
      <li><a routerLink="/business/dashboard" (click)="dropdownOpen = false">Dashboard</a></li>
      <li><button (click)="logout(); dropdownOpen = false" class="logout-btn">Logout</button></li>
    </ul>
  </div>
</nav>
