@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");

$font-primary: "Oxanium", sans-serif;
$Roxo-Medio: #6c63ff;
$Roxo-Royal: #5a31f4;
$Roxo-Escuro: #4b0082;
$Roxo-Pastel: #b39ddb;
$Roxo-light: #4c008225;
$Roxo-transparent: #E5DAED;
