<form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <div class="info-message" style="">
        Coloque o seu email abaixo e será enviado um link para renovar a password.
      </div>
    <div
      class="form-group"
      [ngClass]="{
        valid: forgotForm.get('email')?.valid && forgotForm.get('email')?.touched
      }"
    >
      <label for="email">Email Address</label>
      <div class="input-wrapper">
        <img class="icon-left" src="assets/icons/mail.svg" alt="Email Icon" />
        <input
          id="email"
          type="email"
          placeholder="Introduza o seu email"
          formControlName="email"
        />
        <img
          class="icon-right"
          src="assets/icons/check.svg"
          alt="Valid"
          *ngIf="
            forgotForm.get('email')?.valid && forgotForm.get('email')?.touched
          "
        />
      </div>
    </div>
  
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  
    <button
      type="submit"
      class="submit-btn"
      [disabled]="forgotForm.invalid || isSubmitting"
    >
      Enviar
    </button>
  </form>
  