@import '../../../../../styles/form-styles.scss'; // Importando estilos comuns

.error-message {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}
  
  .error {
    color: red;
    font-size: 0.9em;
  }
  