<div class="info-message">
    Introduza a nova password para a sua conta.
  </div>
  
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="password">Nova Password</label>
      <div class="input-wrapper">
        <img class="icon-left" src="assets/icons/lock.svg" alt="Password Icon" />
        <input
          id="password"
          type="password"
          placeholder="Nova password"
          formControlName="password"
        />
      </div>
    </div>
  
    <button type="submit" [disabled]="resetForm.invalid">Atualizar Password</button>
  </form>
  