<div class="business-card-service">
  <div class="business-service-header">
    <h2>{{ service.service_name }}</h2>
    <p>{{ service.description }}</p>
  </div>

  <div class="business-service-price-hours-button">
    <div class="business-service-price-hours-container">
      <div>
        <img
          src="assets/icons/clock.svg"
          alt="Ícone de relógio"
          class="business-card-service-icon"
        />
        <span class="business-card-service-text">{{ service.duration }} min</span>
      </div>
      <span class="business-card-service-text">
        {{ service.price | number : '1.2-2' }} €
      </span>
    </div>

    <button
      type="button"
      [attr.aria-label]="'Marcar serviço ' + service.service_name"
    >
      Marcar
    </button>
  </div>
</div>