<div class="info-message">
    Introduza e confirme a nova password para a sua conta.
  </div>
  
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
  
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  
    <!-- Nova password -->
    <div
      class="form-group"
      [ngClass]="{
        valid: resetForm.get('password')?.valid && resetForm.get('password')?.touched
      }"
    >
      <label for="password">Nova Password</label>
      <div class="input-wrapper">
        <img class="icon-left" src="assets/icons/lock.svg" alt="Password Icon" />
        <input
          id="password"
          type="password"
          placeholder="Nova password"
          formControlName="password"
        />
      </div>
    </div>
  
    <!-- Confirmar password -->
    <div
      class="form-group"
      [ngClass]="{
        valid: resetForm.get('confirmPassword')?.valid && resetForm.get('confirmPassword')?.touched
      }"
    >
      <label for="confirmPassword">Confirmar Password</label>
      <div class="input-wrapper">
        <img class="icon-left" src="assets/icons/lock.svg" alt="Lock Icon" />
        <input
          id="confirmPassword"
          type="password"
          placeholder="Confirmar password"
          formControlName="confirmPassword"
        />
      </div>
    </div>
  
    <!-- Erro de passwords diferentes -->
    <div *ngIf="resetForm.errors?.['passwordsMismatch']"  class="error-message">
      As passwords não coincidem.
    </div>
  
    <button type="submit" [disabled]="resetForm.invalid">Atualizar Password</button>
  </form>
  