<div class="user-account-layout">
  <button class="hamburger-button" (click)="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
  </button>


  <app-account-sidebar
    *ngIf="!isLoadingUserProfile"
    [userName]="userData?.username || null"
    [userAvatarUrl]="userData?.fotoUrl || null"
    (logout)="handleLogout()"
    [isOpen]="isSidebarOpen"
    (closeSidebar)="closeSidebar()"
  >
  </app-account-sidebar>

  <main class="content">
    <router-outlet (activate)="onOutletActivated($event)"></router-outlet>
  </main>
</div>
