@import '../../../../styles/variables.scss';

.change-password-layout {
  display: flex;
  flex-direction: row; // Layout em linha com sidenav e conteúdo
  height: 100vh; // Ocupa toda a altura da viewport
  background-color: $Roxo-transparent;

  .sidenav {
    width: 250px; // Largura fixa para o sidenav
    background-color: $Roxo-light;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

    .sidenav-item {
      font-family: $font-primary;
      font-size: 1rem;
      color: $Roxo-Medio;
      padding: 10px 15px;
      margin-bottom: 10px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.2s ease;

      &:hover {
        background-color: $Roxo-Medio;
        color: $generic-white;
      }

      &.active {
        background-color: $Roxo-Royal;
        color: $generic-white;
        font-weight: bold;
      }
    }
  }

  .content {
    flex-grow: 1; // O conteúdo ocupa o restante do espaço
    padding: 30px;
    background-color: $generic-white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    h1 {
      font-family: $font-primary;
      font-size: 1.5rem;
      color: $Roxo-Escuro;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .form-group {
        display: flex;
        flex-direction: column;

        label {
          font-family: $font-primary;
          font-size: 0.9rem;
          margin-bottom: 5px;
          color: $Roxo-Medio;
        }

        input {
          padding: 10px;
          font-size: 0.9rem;
          border: 1px solid $Roxo-Pastel;
          border-radius: 4px;
        }
      }

      button {
        padding: 10px 15px;
        font-size: 1rem;
        color: $generic-white;
        background-color: $Roxo-Medio;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          background-color: $Roxo-Royal;
        }

        &:disabled {
          background-color: $Roxo-Pastel;
          cursor: not-allowed;
        }
      }
    }
  }
}
