<div class="change-password-layout">
  <div class="sidenav">
    <div class="sidenav-item">Menu Item 1</div>
    <div class="sidenav-item">Menu Item 2</div>
  </div>
  <div class="content">
    <h1>Alterar Senha</h1>
    <form (ngSubmit)="onSubmit()" #passwordForm="ngForm">
      <div class="form-group">
        <label for="oldPassword">Senha Atual</label>
        <input
          type="password"
          id="oldPassword"
          name="oldPassword"
          [(ngModel)]="oldPassword"
          required
        />
      </div>
      <div class="form-group">
        <label for="newPassword">Nova Senha</label>
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          [(ngModel)]="newPassword"
          required
        />
      </div>
      <button type="submit" [disabled]="!passwordForm.valid">Alterar Senha</button>
    </form>
  </div>
</div>
